@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url("/bg.jpg");
	background-size: cover;
}
.puzzleboard {
	background-image: url("/frame.png");
	background-size: cover;
}
